{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block body %}
    <div id='backy_reg' class='p-5'>

    <div class='container d-flex justify-content-center text-light'>

        <div>
            <h3>ورود به سایت</h3>
        </div>
    </div>


    <div class='container d-flex justify-content-center p-5 col-6 '>

           {% if form.non_field_errors %}
                <ul class='form-errors d-flex align-items-center justify-content-center'>
                    {% for error in form.non_field_errors %}
                
                        <p class='alert alert-danger'>{{ error }}</p>
                        
                    {% endfor %}
                </ul>
            {% endif %}
    
    </div>

    <div id='login_in' class="container d-flex align-items-center col-sm-12 col-md-6 justify-content-center rounded pb-5 pt-5" >
      
        <div class="col-8 d-flex justify-content-center">
        
          
            <form method="post">

                {% csrf_token %}


                <p>{{ form.username|as_crispy_field  }}</p>

                <p>{{ form.password|as_crispy_field  }}</p>

               

                <input type="submit" value="ورود" class="btn btn-outline-primary d-flex justify-content-end" >
                
                <p class='mt-5'><a href="{% url 'reset_pass' %}">?فراموشی رمز عبور</a></p>
                <p class='mt-2'><a href="{% url 'register' %}">?حساب نداری</a></p>
                



            </form>
            
        </div>
        
    </div>
    </div>


{% endblock %}