{% extends 'base/base.html' %}
{% load static %}


{% block body %}
  <div class='d-flex align-items-center justify-content-center p-5 bg-light'>
        <h1>ورود به سایت</h1>
        </div>

    <div class="container d-flex align-items-center justify-content-center rounded" id="login-form">
         {% if form.non_field_errors %}
                <ul class='form-errors'>
                    {% for error in form.non_field_errors %}
                        <p class='alert alert-danger'><small>{{ error }}</small></p>
                    {% endfor %}
                </ul>
            {% endif %}
        <div class="col-8 d-flex justify-content-center">
        
          
            <form action="{% url 'login' %}" method="post">

                {% csrf_token %}
                <label for="{{ form.username.id_for_label }}" class="label">
                    ایمیل
                </label>
                <p>{{ form.username }}</p>
                


                <label for="{{ form.password.id_for_label }}" class="label">
                    رمز عبور
                </label>

                <p>{{ form.password }}</p>

               

                <input type="submit" value="ورود" class="btn btn-outline-info text-dark" id='btn-login'>

            </form>
            
        </div>
    </div>
        <div class='d-flex justify-content-center pb-5 bg-light'>
        <a href="{% url 'reset_pass' %}">فراموشی رمز عبور</a>
        </div>

{% endblock %}