{% extends 'base/base.html' %}
{% load static %}

{% block body %}
<div class='container d-flex flex-column  justify-content-center m-5 p-5' dir='rtl'>
    <p class='alert alert-info col-8 text-center' >ایمیلی که با آن در سایت ثبت نام کرده بودید را وارد کنید تا تاییده برای شما ارسال شود</p>
    <div class='container d-flex justify-content-center m-5 p-5 col-8 bg-success border rounded'>
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Send">
    </form>
    </div>
    </div>
{% endblock %}