
{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}
    Register
{% endblock %}

{% block body %}
<div id='backy'>
<div class="container text-center bg-dark col-6 rounded p-3 mb-5 mt-5 text-white">
    <h1 class="">فرم ثبت نام</h1>
</div>
    <div class="container rounded d-flex justify-content-center bg-dark col-6 p-5 mb-5 text-white" dir="rtl">
        <div class="row">
            <div class="col-12">
                <form method="post" action="{% url 'register' %}">
                    {% csrf_token %}
                    {% include 'component/form.html' %}
                    <input type="submit" class="btn btn-outline-primary" value="ثبت نام">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}