
{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    Register
{% endblock %}

{% block body %}
<div class="container text-center rounded" id="reg2-back">
    <h1 class="">فرم ثبت نام</h1>
</div>
    <div class="container rounded" dir="rtl" id="regis-back">
        <div class="row">
            <div class="col-12">
                <form method="post" action="{% url 'register' %}">
                    {% csrf_token %}
                    {% include 'component/form.html' %}
                    <input type="submit" class="btn btn-outline-primary" value="ثبت نام">
                </form>
            </div>
        </div>
    </div>

{% endblock %}