 <!-- Footer -->
  <footer class="page-footer font-small bg-dark text-light teal pt-4">

    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mb-md-0 mb-3">

              <!-- Content -->
              <div class="justify-content-end">
                  <abbr title="javad linkedin"><a href="#"><i class="fa fa-lg fa-linkedin-square text-info mx-1 " aria-hidden="true"></i></a></abbr>
                <abbr title="javad instagram"><a href="#"> <i class="fa fa-lg fa-instagram text-light mx-1 " aria-hidden="true"></i></a></abbr>
                <abbr title="javad github"><a href="#"> <i class="fa fa-lg fa-github text-light mx-1 " aria-hidden="true"></i></a></abbr>
                <abbr title="javad gitlab"><a href="#"> <i class="fa fa-lg fa-gitlab text-danger mx-1 " aria-hidden="true"></i></a></abbr>
                  <abbr title="javad twitter"><a href="#"><i class="fa fa-lg fa-twitter text-info mx-1 " aria-hidden="true"></i></a></abbr>
              </div>


            </div>

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3 text-center">

          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold text-center">حامیان وبلاگ</h5>
          <p>
              <abbr title="javad twitter"><a href="https://google.com/"><i class="fa fa-graduation-cap text-info mx-1 " aria-hidden="true">جوادجعفری </i></a></abbr>

          </p>

            <p>
              <abbr title="javad twitter"><a href="https://www.zoomit.ir/"><i class="fa fa-desktop text-info mx-1 " aria-hidden="true"> زومیت </i></a></abbr>

          </p>

        </div>

        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">


        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Text -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="#"> Javad</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->