{% extends 'profiles/base.html' %}

{% block title %}{% block title-meta %}
	دسته بندی ها
{% endblock %}{% endblock %}

{% block main %}
	<div class="row">
          <div class="col-12">
            {% if request.user.is_superuser %}
              <div class="card">
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                  <table class="table table-hover text-center">
                    <thead>
                      <tr>
                        <th>number</th>
                        <th>title</th>
                        <th>slug</th>
                        <th>parent</th>

            
                      </tr>
                    </thead>
                    <tbody>
                      {% for cat in categories %}
                        <tr>
                            <td>{{ cat.id }}</td>
                            <td>{{cat.title}}</td>
                            <td>{{cat.slug}}</td>
                            <td>{{cat.parent}}</td>
                            <td>
                            <button type='submit' class="alert alert-danger small">
                            <a href="{% url 'admin_categories_del' cat.id %}">حذف</a>
                            </button>
                            </td>



                       
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
              {% else %}
                <div class="container d-flex justify-content-center mt-5 mb-0" dir='rtl'>               
                  <h3>محتوایی برای نمایش وجود ندارد.</h3>                
                </div>

              {% endif %}
          </div>
        </div>
            {% if categories %}

                <div class="container d-flex justify-content-center mt-5 mb-0" dir='rtl'>
                    {% include 'component/paginate.html' with page_obj=categories %}

                </div>
            {% endif %}

            <div class="container">
		      	<div class="alert alert-warning">
			      	<label>دسته بندی</label>
			      	<p class="mb-0">برای اضافه کردن دسته‌بندی <a class="alert-link" href="{% url 'admin_new_category_add' %}">کلیک</a> کنید.</p>
		        </div>
		    </div>

        
{% endblock %}
