{% extends 'blog/index_base.html' %}
{% load static %}
{% block title %} saerchbar {% endblock %}

{% block main %}
    <div class="container " id="parchive-back">
        <div class="row text-center">
        {% if object_list %}
            {% for post in object_list %}

         <div class="col-lg-4 col-md-6 mb-4 mx-5" style="margin:50px 0 50px 0">
            <div class="card h-100">
                <img class="card-img-top" id="img-posts" src="{{ post.image.url }}" alt="">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'post_single' post.slug %}">{{ post.title }}</a>
                    </h5>

                    <p class="card-text">{{ post.abstract }}</p>

                </div>
                <div class="card-footer">
                    <a href="{% url 'post_single' post.slug %}" class="btn btn-primary">بیشتر بدانید</a>
                    <p class='badge'>{{post.create_at|timesince}} </p>
                </div>
            </div>
        </div>
            {% endfor %}
        </div>
            {% else %}
            <div class="container bg-warning" style="width: 500px;height: 500px;">
            <p> نتونستم پيداش كنم لطف بهتر جست و جو كن</p>
            </div>
    {% endif %}

    </div>
    </div>


{% endblock %}