{% extends 'blog/index_base.html' %}
{% load static %}
{% block title %}
    zoomit/about
{% endblock %}

{% block main %}

    <hr class="offset-md">
    <hr class="offset-md">
    <hr class="offset-md">
    <hr class="offset-md">




<div class="container d-flex align-items-center col-6 justify-content-center rounded bg-light mt-5 mb-5 pb-5 pt-5" >
      
    <div class="col-8 d-flex justify-content-center">

            
            <h1 class="m-5 p-5 text-center"> !وبلاگ زومیت در سال های بعد از میلاد با توجه به نیاز های روز افزون ملت شریف احداث شد</h1>
    

    </div>

    
    <hr class="offset-md">
    <hr class="offset-md">
    <hr class="offset-md">
    <hr class="offset-md">
</div>


{% endblock %}