{% extends 'base/base.html' %}
{% load static %}

{% block title %} {{author.full_name}}/posts {% endblock %}

{% block body %}

<div class="container m-5">




 <div class="bg-light p-5 m-5 rounded" dir='rtl'>
 <div class="row">
                <ul style='list-style-type:none'>
                    {% if user.avatar %}
                        <li>

                            <img style="width: 120px;height: 120px;margin:30px 0 20px 0"
                                 src="{{ user.avatar.url }}">
                        </li>
                    {% else %}
                        <li>
                            <img style="width: 120px;height: 120px;margin:30px 0 20px 0"
                                 src="https://upload.wikimedia.org/wikipedia/commons/6/67/User_Avatar.png">
                        </li>
                    {% endif %}

                </ul>
                <ul style='list-style-type:none' class='mt-5'>
                        <li><h2>
                        صفحه پست هاي بلاگر 
                            {{author.full_name}}
                        </h2></li>
                   
                </ul>


    </div>
    </div>


    
    <div></div>





</div>

<div class="container mx-5">
  <div class="row">
    {% for post in posts %}
        <div class="col-lg-4 col-md-6 mb-4 mx-5">
            <div class="card h-100">
                <img class="card-img-top" id="img-posts" src="{{ post.image.url }}" alt="">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'post_single' post.slug %}">{{ post.title }}</a>
                    </h5>

                    <p class="card-text">{{ post.abstract }}</p>

                </div>
                <div class="card-footer">
                    <a href="{% url 'post_single' post.slug %}" class="btn btn-primary">بیشتر بدانید</a>
                    <p class='badge'>{{post.create_at|timesince}} </p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>


 <div class="container text-center d-flex justify-content-center m-5">
                    {% include 'component/paginate.html' with page=page_obj %}

                </div>






{% endblock %}