{% extends 'base/base.html' %}
{% load static %}
{% load mptt_tags %}

{% block title %}
    Categories
{% endblock %}
{% block body %}

    <div class="container col-lg-10 col-md-6 col-sm-6 bg-info" id="categories-back">
        <hgroup class="bg-warning border rounded p-1">: دسته بندی ها</hgroup>
        {% for cat in categories %}
            <div class="dropdown">
            {% if  not cat.parent %}
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                   <a href="{% url 'category_single' cat.slug %}" class="text-white">
                       {{ cat.title }}</a>
                </button>
            {% endif %}
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for cat1 in categories %}
                        {% if  cat == cat1.parent %}
                            <a class="dropdown-item" href="{% url 'category_single' cat1.slug %}">{{ cat1.title }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    <hr style="background-color: red;size: 5px">
        <div class="list-group">
            {% for cat in categories %}
                <a href="{% url 'category_single' cat.slug %}"
                   class="list-group-item list-group-item-action">{{ cat.title }}</a>
            {% endfor %}
        </div>


    </div>





    <div class="container col-lg-10 col-md-6 col-sm-6 bg-info" id="categories-back">

<ul class="container">
    {% recursetree categories %}
        <li >
            {{ node.title }}
            {% if not node.is_leaf_node %}
                <ul class="children d-flex justify-content-end">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>
</div>



{% endblock %}





