{% extends 'base/base.html' %}
{% load static %}
{% block title %}
    Categories
{% endblock %}
{% block body %}

    <div class="container col-lg-10 col-md-6 col-sm-8 bg-info" id="categories-back">
        <hgroup class="bg-warning border rounded">: دسته بندی ها</hgroup>
        <div class="list-group">
            {% for cat in categories %}
                <a href="{% url 'category_single' cat.slug %}" class="list-group-item list-group-item-action">{{ cat.title }}</a>
            {% endfor %}
        </div>
    </div>


{% endblock %}