   {% extends 'blog/index_base.html' %}

   {% load static %}
   
   {% block main %}



    <div class="blog">



        <div class="container">
        <div class="row">

        <div class="col-sm-3 col-md-6 item">
          {% for p in promote %}

            <div class="col-sm-3 col-md-6 item">

              <img src="{{p.image.url}}" alt="{{post.title}}" style='height:165px' class="hidden-xs" />

            </div>
           {% endfor %}
          </div>

          <div class="col-sm-3 col-md-6 item">

            <div class="col-sm-3 col-md-12 item">

              <img src="{{promote1.image.url}}" style='height:350px' alt="{{post.title}}"  class="hidden-xs" />

            </div>
          </div>


        </div>
        </div>



      <div class="container">
        <div class="row">

            {% for post in posts %}
          <div class="col-sm-6 col-md-6 item">
            <div class="body">
              <a href="{% url 'post_single' post.slug %}" class="view"><i class="ion-ios-book-outline"></i></a>
              <a href="{% url 'post_single' post.slug %}">
                <img src="{{post.image.url}}" title={{post.title}} alt={{post.title}} style='height:250px'>
              </a>

              <div class="caption">
                <h1 class="h3">{{post.title}}</h1>
                <label> {{post.create_at|timesince}}</label>
                <hr class="offset-sm">

                <p>
                {{post.content|safe|striptags|truncatewords:15}}
                </p>
                <hr class="offset-sm">

                <a href="{% url 'post_single' post.slug %}"> مشاهده  <i class="ion-ios-arrow-right"></i> </a>
              </div>
            </div>
          </div>

            {% endfor %}

        </div>


        {% comment %} advertisments {% endcomment %}


      <div class="container">
        <div class="row">

        <div class="col-sm-3 col-md-6 item">


            <div class="col-sm-3 col-md-6 item">

              <img src="{{promote1.image.url}}" alt="Apple 3D Touch" style='height:150px' class="hidden-xs" />

            </div>

            <div class="col-sm-3 col-md-6 item">

              <img src="{{promote1.image.url}}" alt="Apple 3D Touch" style='height:150px' class="hidden-xs" />

            </div> 
            
            <div class="col-sm-3 col-md-6 item">

              <img src="{{promote1.image.url}}" alt="Apple 3D Touch" style='height:150px' class="hidden-xs" />

            </div> 

             <div class="col-sm-3 col-md-6 item">

              <img src="{{promote1.image.url}}" alt="Apple 3D Touch" style='height:150px' class="hidden-xs" />

            </div>


 
          </div>



          <div class="col-sm-3 col-md-6 item">

             <div class="col-sm-3 col-md-6 item">

              <img src="{{promote1.image.url}}" alt="Apple 3D Touch" style='height:150px' class="hidden-xs" />

            </div>

            <div class="col-sm-3 col-md-6 item">

              <img src="{{promote1.image.url}}" alt="Apple 3D Touch" style='height:150px' class="hidden-xs" />

            </div>

            <div class="col-sm-3 col-md-6 item">

              <img src="{{promote1.image.url}}" alt="Apple 3D Touch" style='height:150px' class="hidden-xs" />

            </div>

            <div class="col-sm-3 col-md-6 item">

              <img src="{{promote1.image.url}}" alt="Apple 3D Touch" style='height:150px' class="hidden-xs" />

            </div>

          </div>


        </div>
        </div>

        {% comment %} end {% endcomment %}


        {% include 'component/paginate.html' with page=page_obj %}


      </div>
    </div>

    <hr class="offset-lg">
    <hr class="offset-sm">

    {% endblock  %}