{% extends 'base/base.html' %}
{% load static %}
{% block title %}
    login
{% endblock %}

{% block body %}

<div class="container d-flex align-items-center justify-content-center rounded rounded-pill" id="login-form">
        <div class="col-8 ">
            <form action="{% url 'login' %}" method="post">
               
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="ورود" class="btn btn-outline-info text-dark" id='btn-login'>

            </form>
    </div>
</div>


{% endblock %}