{% extends 'base/base.html' %}

{% load static %}
{% block title %}
    zoomit/{{ post.slug }}
{% endblock %}
{% block body %}
    <!-- Page Content -->
    <div class="container text-light">

        <div class="row">

            <!-- Post Content Column -->
            <div class="col-lg-8">

                <!-- Title -->
                <h1 class="mt-5 text-right">{{ post.title }}</h1>


                <!-- Author -->


                <hr class="bg-light">

                <!-- Date/Time -->
                {% if settings.author %}
                    <a href="#" class="border border-1 btn btn-outline-info btn-sm ">
                        <i class="fa fa-lg fa-user-circle" aria-hidden="true"></i> {{ post.author.full_name }}</a>
                {% endif %}
                <p class="text-right">
                <p> {{ post.publish_time.date }} :تاریخ انتشار</p>
                <p>
                    {{ post.category }} :
                    دسته بندی

                </p>
                </p>


                <hr class="bg-light">

                <!-- Preview Image -->
                <img class="img-fluid rounded" src="{{ post.image.url }}" alt="img-background" id="content-img">

                <hr class="bg-light">

                <!-- Post Content -->
                <p class="card-text">
                    {{ post.content }}
                </p>
                <hr class="bg-light">

                {% if settings.allow_discussion %}
                    {% if settings.comment %}
                        <!-- Comments Form -->
                        <form id="comment_form" action="{% url 'post_single' pk=post.slug %}" method="post">
                            {% csrf_token %}

                            <textarea id="id_content" dir="rtl" placeholder="نظرخودراواردکنید" rows="4" cols="90" style="resize: none">

                            </textarea>
                            <input type="submit" value="ok" class="btn btn-outline-info mt-5">
                        </form>
                    {% endif %}
                    <!-- Single Comment -->
                    <div class='container' id="comment-bg">
                    {% for comment in comments %}
                        <hr class="bg-danger ">
                        <div class="media mb-4 bg-secondary rounded" id="bg">

                            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                            <div class="media-body">
                                <h5 class="mt-0 border-bottom">  {{ comment.author }}  </h5>
                                <p> {{ comment.content }}</p>
                            </div>
                        </div>
                        <div>
                            like:<span id='like_counter{{ comment.id }}'>{{ comment.like_count }}</span>
                            dislike:<span id='dislike_counter{{ comment.id }}'>{{ comment.dislike_count }}</span>
                        </div>
                        <div class="mb-5">
                            <i class="fa fa-thumbs-o-up text-success" aria-hidden="true"
                               onclick="likeComment({{ comment.id }})"></i>
                            <i class="fa fa-thumbs-o-down text-danger" aria-hidden="true"
                               onclick="likeComment({{ comment.id }},false)"></i>
                        </div>
                    {% endfor %}
                    <div>
                {% endif %}


                </div>

                </div>
            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->


{% endblock %}


{% block javascript %}
    <script>
        function likeComment(commentID, condition = true) {
            const data = JSON.stringify({comment_id: commentID, condition})
            console.log(data)
            $.ajax({
                type: "POST",
                url: "{% url 'like_comment' %}",
                data: data,
                success: function (response) {
                    const data = JSON.parse(response)
                    $(`#like_counter${commentID}`).text(data.like_count)
                    $(`#dislike_counter${commentID}`).text(data.dislike_count)
                }
            });
        }
    </script>


    <script>
        document.getElementById("comment_form").addEventListener("submit", function (event) {
            event.preventDefault();
            const content = $('#id_content').val()
            const data = JSON.stringify({content, post_id:{{post.id}}})
            $.ajax({
                type: "post",
                url: "{% url 'add_comment' %}",
                data: data,
                success: function (response) {
                    const data = JSON.parse(response)
                    $( "#comment_bg" ).prepend( `
                    <hr class="bg-danger ">
                        <div class="media mb-4 bg-secondary rounded" id="bg">

                            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                            <div class="media-body">
                                <h5 class="mt-0 border-bottom">  ${ data.author }  </h5>
                                <p> ${ data.content }</p>
                            </div>
                        </div>
                        <div>
                            like:<span id='like_counter${ data.id }'>${data.like_count}</span>
                            dislike:<span id='dislike_counter${data.id}'>${data.dislike_count}</span>
                        </div>
                        <div class="mb-5">
                            <i class="fa fa-thumbs-o-up text-success" aria-hidden="true"
                               onclick="likeComment(${data.id })"></i>
                            <i class="fa fa-thumbs-o-down text-danger" aria-hidden="true"
                               onclick="likeComment(${data.id},false)"></i>
                        </div>` );
                }
            });
        }, false);
    </script>
{% endblock %}


























