{% extends 'blog/index_base.html' %}


{% load static %}
{% block title %}
    {{ post.slug }}
{% endblock %}
{% block main %}
    <!-- Page Content -->
    <div class="blog-item">


      <img src="{{post.image.url}}" alt={{post.title}} class="hidden-xs" style="height:600px;opacity: 0.7;" />
    	<img src="{{post.image.url}}" alt={{post.title}} class="visible-xs" style="height:200px;opacity: 0.7;" />

      <div class="white">
        <hr class="offset-md">
        <div class="container">
  	    	<div class="row">
  	    		<div class="col-sm-8 col-sm-offset-2">
  	    			<h1>{{post.title}}</h1>
              {{post.content|safe}}

  		    		 <button class="btn btn-success btn-sm whatsapp"> <i class="ion-social-whatsapp"></i> Share </button>
  		    		 <button class="btn btn-info btn-sm whatsapp"> <i class="ion-social-twitter"></i> Retweet</button>
  		    		 <button class="btn btn-danger btn-sm whatsapp"> <i class="ion-social-googleplus"></i> Plus </button>
  	    		<p style="padding:35px">
            دسته بندی:<a href='' style="margin-right:50px" > {{post.category}}</a>
            تاریخ انتشار:<a href='#' style="margin-right:50px" > {{post.create_at}}</a>
            نویسنده:<a href="{% url 'bloger_post' post.author.id %}" style="margin-right:50px" > {{post.author}}</a>
            </p>
            </div>
  	    	</div>
      	</div>
        <hr class="offset-lg">
        <hr class="offset-lg">
      </div>
    <hr class="offset-md">

    <hr class="offset-md">

    <!-- comment -->


      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <div class="comments">
              <h2 class="h3">نظرات مقاله</h2>
              <hr class="offset-sm">
              {% if request.user.is_authenticated %}
              <button class="btn btn-default" data-toggle="modal" data-target="#Modal-Comment"> <i class="ion-android-textsms"></i> Add comment </button>
              {% else %}
              <a href="{% url 'login' %}">
              <button class="btn btn-default"> <i class="ion-android-textsms"></i> برای ثبت نظر ابتدا وارد شوید </button>
              </a>
              {% endif %}
              <hr class="offset-md">


            <div class="adds">
            {% for comment in comments %}
            <div>
              <h3>{{comment.author}}</h3>
              <label>{{comment.create_at}}</label>
              <p>
                {{comment.content }}
              </p>

              <p>

                <div>
                    like:<span id='like_counter{{comment.id}}'>{{comment.like_count}}</span>
                    dislike:<span id='dislike_counter{{comment.id}}'>{{comment.dislike_count}}</span>
                </div>

              <i class="ion-close text-success" aria-hidden="true" 
              onclick="likeComment({{comment.id}})"></i>
                <i class="ion-close text-danger" aria-hidden="true"
              onclick="likeComment({{comment.id}},false)"></i>
              </p>
            </div>

            {% endfor %}

            </div>

            

    <!-- pagination -->
        {% include 'component/paginate.html' with page_obj=comments %}
    <!-- end pagination -->



            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- end comment -->



    <!-- comment modal -->

    <div class="modal fade" id="Modal-Comment" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header align-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ion-android-close"></i></span></button>
            <h1 class="h4 modal-title">ثبت نظر</h1>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
            <form class="join"  method="post" id="comment_form">
              <div class="row">
                <div class="col-sm-12">
                       
                    {% csrf_token %}
                    {% include 'component/commentform.html' %}

                    <div class="col-sm-12">
                        <div class="align-right">
                            <hr class="offset-md">
                            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"> <i class="ion-android-share"></i> منصرف شدم </button>
                            <button type="submit" class="btn btn-success btn-sm"> <i class="ion-android-send"></i> ثبت کن</button>
                            <hr class="offset-md">
                        </div>
                    </div>
                        
                </div>



              </div>
             </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end comm modal -->




{% endblock %}


{% block javascript %}
    <script>
        function likeComment(commentID, condition = true) {
            const data = JSON.stringify({comment_id: commentID, condition})
            console.log(data)
            $.ajax({
                type: "POST",
                url: "{% url 'like_comment' %}",
                data: data,
                success: function (response) {
                    const data = JSON.parse(response)
                    $(`#like_counter${commentID}`).text(data.like_count)
                    $(`#dislike_counter${commentID}`).text(data.dislike_count)
                }
            });
        }
    </script>









    <script>
        document.getElementById("comment_form").addEventListener("submit", function (event) {
            event.preventDefault();
            const content = $('#id_content').val()
            const data = JSON.stringify({ content , post_id:{{post.id}} })


            request= $.ajax({
                type: "post",
                url: "{% url 'add_comment' %}",
                data: data,
            
            });

            request.done(function( msg ) {
                

                Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'دیدگاه شما ثبت شد بعد از بررسی ثبت می شود!',
                showConfirmButton: false,
                timer: 2500
                })
            });


            request.fail(function( jqXHR, textStatus ) {
            alert( "Request failed: " + textStatus );
            });

        }, false);
    </script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}


























