{% extends 'base/base.html' %}
{% load static %}
{% block title %}
    post_archive_class
{% endblock %}

{% block body %}



{% if post_list %}
<div class="container " id="parchive-back">
    <div class="row text-center">
        {% for post in post_list %}

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" id="img-posts" src="{{ post.image.url }}" alt="">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'post_single' post.slug %}">{{ post.title }}</a>
                        </h5>

                        <p class="card-text">{{ post.abstract }}</p>

                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">بیشتر بدانید</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% else %}
<div class="container bg-info d-flex justify-content-center align-items-center "
     style="width: 500px;height: 500px;">
    <div class="container bg-warning"><p>فعلا مقاله اي با اين دسته بندي توليد نشده</p></div>
    <div class="container"><p><i class="fa fa-3x fa-heartbeat text-danger" aria-hidden="true"> STAY AT HOME</i>
    </p></div>

</div>
{% endif %}

<div class="container">

<a class="btn btn-outline-info" href="{% url 'categories_archive' %}"> >> برگشت به دسته بندي</a>
</div>

{% endblock %}
