{% extends 'base/base.html' %}
{% load static %}
{% block title %}
    Home
{% endblock %}

{% block body %}
    <div class="container">

            {% include 'component/slider.html' %}


            <!-- Jumbotron Header -->
            <header class="jumbotron my-4 " id="jum">

                <h1 class="display-3 text-righ text-success">!به زوميت خوش آمديد</h1>
                <img src="" alt="" class="shadow-lg rounded ">
                <div class="container ">
                    <h2 class="text-danger small">كليك كن</h2>
                    <!-- Button to Open the Modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                        باز شو
                    </button>

                    <!-- The Modal -->
                    <div class="modal" id="myModal">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title ">مي خواهيد بلاگر شويد </h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    گرچه براي تسته ولي اگر به افتخار بديد در خدمتون باشيم !
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">بسته شو</button>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </header>


            <!-- Page Features -->
            <div class="row text-center">
                {% for post in posts %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <img class="card-img-top" id="img-posts" src="{{ post.image.url }}" alt="">
                            <div class="card-body">
                                <h5 class="card-title"><a href="{% url 'post_single' post.slug %}">{{ post.title }}</a>
                                </h5>

                                <p class="card-text">{{ post.abstract }}</p>

                            </div>
                            <div class="card-footer">
                                <a href="{% url 'post_single' post.slug %}" class="btn btn-primary">بیشتر بدانید</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <div class="container text-center">
                    {% include 'component/paginate.html' with page=page_obj %}

                </div>


            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->
    </div>
{% endblock %}