{% extends 'base/base.html' %}

{% load static %}
{% load crispy_forms_tags %}


{% block body  %}

{% if messages %}
{% for message in messages %}
    <div class="d-flex justify-content-center m-5 alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissible" role='alert'>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    {{ message }}
    
    </div>
    {% endfor %}
{% endif %}










<div class='bg-light d-flex justify-content-center m-5 p-5 rounded'><p>برای انتشار پست شما لازم است تنظیمات پست را اعمال کنید</p></div>

<div class='d-flex justify-content-center m-5 p-5 bg-light rounded'>

<form method='post'>
    {% csrf_token %}

    <h5>کدام پست را انتخاب می کنید</h5>
    <div class="form-group mb-0 d-flex justify-content-end">
        {{ set_form.post|as_crispy_field }}
    </div>


<hr>
    <h5>شرایط پست</h5>

    <div class="form-row">
      <div class="form-group col-md-4 mt-5">
        {{ set_form.comment|as_crispy_field }}
      </div>
      <div class="form-group col-md-4 mt-5">
        {{ set_form.author|as_crispy_field }}
      </div>
            <div class="form-group col-md-4 mt-5">
        {{ set_form.allow_discussion|as_crispy_field }}
      </div>
    </div>

    <input type="submit" class="btn btn-outline-primary" value="ثبت تغییرات">

</form>

</div>
{% endblock  %}
