{% extends 'base/base.html' %}
{% load static %}

{% block title %} userprofile {% endblock %}

{% block body %}

    <div class="container mt-5 mb-5" dir="rtl">
        <div class="row border border-info rounded mb-5 bg-light">
            <div class=" mx-5">
                <ul style='list-style-type:none'>
                    {% if user.avatar %}
                        <li>

                            <img style="width: 120px;height: 120px;margin:30px 0 20px 0"
                                 src="{{ user.avatar.url }}">
                        </li>
                    {% else %}
                        <li>
                            <img style="width: 120px;height: 120px;margin:30px 0 20px 0"
                                 src="https://upload.wikimedia.org/wikipedia/commons/6/67/User_Avatar.png">
                        </li>
                    {% endif %}

                </ul style='list-style-type:none'>
            </div>
            <div class="mx-5 text-right">
                <ul style='list-style-type:none'>
                    <li>
                        <label>پست الکترونیک </label>
                        <p>{{ user.email }}</p>
                    </li>

                    <li>
                        <label>شماره تلفن </label>
                        <p>{{ user.mobile }}</p>
                    </li>
                </ul style='list-style-type:none'>
            </div>
            <div class="mx-5 text-right">
                <ul style='list-style-type:none'>
                    {% if user.full_name %}
                        <li>
                            <label>نام و نام خانوادگی </label>
                            <p>{{ user.full_name }}</p>
                        </li>
                    {% else %}
                        <li>
                            <label>نام و نام خانوادگی </label>
                            <p>None</p>
                        </li>
                    {% endif %}


                    <li>
                        <label> عضویت ویژه</label>
                        <p>بله</p>
                    </li>
                </ul style='list-style-type:none'>
            </div>
            <div class="mx-5 text-right">
                <ul style='list-style-type:none'>
                    <li>
                        <label>دریافت خبرنامه </label>
                        <p> خیر </p>
                    </li>

                    <li>
                        <label>نویسنده بلاگ </label>
                        <p> خیر </p>
                    </li>
                </ul style='list-style-type:none'>
            </div>

        </div>


        <div class="container text-center "><abbr title="می توانید از طریق این لینک پروفایل خود را ویرایش کنید">
            <a href="{% url 'profile_update' request.user.id %}"><h3>ویرایش پروفایل </h3></a></abbr></div>

        <div class="row border border-info mb-5 mt-5">
            <div class="mx-5">
                <ul class="list-group text-right ">
                    <li class="list-group-item m-3">
                        <a href="{% url 'bloger_post' request.user.id %}">نوشته های من</a></li>

                    <li class="list-group-item btn m-3">
                        <a href="{% url 'change_password' %}" target='blank'>
                            تغییر رمز عبور
                        </a></li>
                    
                    
                </ul>
            </div>

                  <div class="mx-5">
                <ul class="list-group text-right ">
                    <li class="list-group-item m-3">
                        <a href=""> ویرایش پست</a></li>

                    <li class="list-group-item btn m-3">
                        <a href="{% url 'reset_pass' %}" target='blank'>
                            بازیابی رمز عبور
                        </a></li>
                    
                   
                </ul>
            </div>

                  <div class="mx-5">
                <ul class="list-group text-right ">
                    {% if request.user.is_staff %}

                    <li class="list-group-item m-3">
                        <a href="{% url 'new_post' %}">ایجاد پست جدید</a></li>
                    {% endif %}

                    <li class="list-group-item btn m-3">
                        <a href="">
                            درخواست برای نوشتن بلاگ
                        </a></li>
                    
                        
                </ul>
            </div>
           

        </div>
    </div>
{% endblock %}