{% extends 'profiles/base.html' %}

{% block title %}{% block title-meta %}
	لیست مقالات
{% endblock %}{% endblock %}

{% block main %}

{% if messages %}
{% for message in messages %}
    <div class="d-flex justify-content-center m-5 alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissible" role='alert'>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    {{ message }}
    
    </div>
    {% endfor %}
{% endif %}



	<div class="row">
          <div class="col-12">
            {% if request.user.is_author %}
              <div class="card">
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                  <table class="table table-hover text-center">
                    <thead>
                      <tr>
                        <th>شماره مقاله</th>
                        <th>عنوان مقاله</th>
                        <th>تصویر بندانگشتی</th>
                        <th>دسته‌بندی</th>
                        <th>نویسنده</th>
                        <th>خلاصه</th>
                        <th>زمان ایجاد</th>
                        <th>منتشر شده</th>
                        <th>بازدید</th>
                        <th>وضعیت</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for article in page_obj %}
                        <tr>
                          <td>{{article.id}}</td>

                          <td>
                          <a href="{% url "post_single" article.slug %}">
                            {{article.title}}
                          </a>
                          </td>
                          <td><img src="{{article.image.url}}" width="120" height="80"></td>
                          <td>{{article.category}}</td>
                          <td>{{article.author.get_full_name}}</td>
                          <td>{{article.content|safe|striptags|truncatewords:1}}</td>
                          <td>{{article.create_at|timesince}}</td>
                          <td>
                            {%if article.draft%}
                            <button class="alert alert-warning small">خیر</button>
                            {%else%}
                            <button class="alert alert-success small">بلی</button>
                            {%endif%}
                          </td>
                          <td>
                            {{article.seen}}
                          </td>

                          <td>

                            <button type='submit' class="alert alert-danger small">
                            <a href="{% url 'delete_post' article.id %}">حذف</a>
                            </button>
                            <button class="alert alert-info small">
                            <a href="{% url 'update_post' article.id %}">ویرایش</a>
                            </button>


                            {% if  article.draft%}
                              <button class="alert alert-success small">
                            <a href="{% url 'publish_post' article.id %}"> تغییر به منتشر شده  </a>   
                              </button>
                            {% else %}
                              <button class="alert alert-warning small">
                            <a href="{% url 'draft_post' article.id %}">تغییر به پیش نویس </a>   
                              </button>
                            {% endif %}
                         
                          </td>
                     
                          
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
              {% else %}
                <div class="container d-flex justify-content-center mt-5 mb-0" dir='rtl'>               
                  <h3>محتوایی برای نمایش وجود ندارد.</h3>                
                </div>


                <div class="container d-flex justify-content-center mt-5 mb-0" dir='rtl'>
                {% if get_author %}
                  <p style='color:green'>در خواست شما در حال بررسی می باشد</p>
                {% else %}
                  <h2><a href="{% url 'get_author_req' request.user.id %}">
                  در خواست برای نویسنده شدن</a></h2>
                {% endif %}
                </div>

              {% endif %}
          </div>
        </div>

                     
            {% if request.user.is_author %}
          
                <div class="container d-flex justify-content-center mt-5 mb-0" dir='rtl'>
                    {% include 'component/paginate.html' with page=page_obj %}

                </div>
            {% endif %}




















            
{% endblock %}
